# Ignore complied python folders and files
__pycache__/
*.pyc
*.vscode

# Ignore the log files
*.log

# Ignore virtual environment "sm-venv"
sm-venv

# Ignore the package wheel / egg / distribution archives
build/
dist/
swampymud.egg-info/